### Example
```
/*
 * Details about styles of the component
 * author: Ly <lyforever62@hotmail.com>
 *
 */
:root {
  --Button-color: green;
}

.Button {
  color: var(--Button-color);
  display: flex;
}